.column_box {
    font-weight: bolder;
    line-height: 50px;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 10px;

    background-color: grey;
}


.active {
    color: white;
    border-radius: 10px;
}
